@import "./src/styles/bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Zen+Dots);

$body-background: LightGrey;

$mycolor-light: #d499b9;
$mycolor-primary: #2e294e;
$mycolor-deep: #011638;
$mycolor-normal: #9055a2;

$title-font: "Zen Dots";

$card-radius: 1rem;
$card-line-height: 1rem;
$card-letter-spacing: 0.1rem;
